streamlit
pandas
plotly
requests
beautifulsoup4
lxml
sec-edgar-downloader
langchain
langchain-community
langchain-text-splitters
chromadb
sentence-transformers
python-dotenv
google-generativeai
langchain-google-genai
langchain-openai
